Checks:
'*,
-fuchsia-overloaded-operator,
-fuchsia-default-arguments-calls,
-fuchsia-trailing-return,
-modernize-use-trailing-return-type,
-llvmlibc-*,
-readability-function-cognitive-complexity,
'

InheritParentConfig: true

CheckOptions:
  - { key: readability-identifier-naming.NamespaceCase,                value: lower_case }
  - { key: readability-identifier-naming.ClassCase,                    value: CamelCase  }
  - { key: readability-identifier-naming.StructCase,                   value: CamelCase  }
  - { key: readability-identifier-naming.TemplateParameterCase,        value: CamelCase  }
  - { key: readability-identifier-naming.ValueTemplateParameterCase,   value: CamelCase  }
  - { key: readability-identifier-naming.TypedefCase,                  value: CamelCase  }
  - { key: readability-identifier-naming.TypeAliasCase,                value: CamelCase  }
  - { key: readability-identifier-naming.EnumCase,                     value: CamelCase  }
  - { key: readability-identifier-naming.VariableCase,                 value: camelBack  }
  - { key: readability-identifier-naming.ParameterCase,                value: camelBack  }
  - { key: readability-identifier-naming.PrivateMemberPrefix,          value: 'm_' }
  - { key: readability-identifier-naming.ProtectedMemberPrefix,        value: 'm_' }
  - { key: readability-identifier-naming.GlobalVariablePrefix,         value: 'g_' }
  - { key: readability-identifier-naming.StaticVariableCase,           value: CamelCase }
  - { key: readability-identifier-naming.StaticVariablePrefix,         value: 's_' }
  - { key: readability-identifier-naming.StaticConstantCase,           value: CamelCase }
  - { key: readability-identifier-naming.StaticConstantPrefix,         value: 'c' }
  - { key: readability-identifier-naming.GlobalConstantCase,           value: UPPER_CASE }
  - { key: readability-identifier-naming.EnumConstantCase,             value: CamelCase }
  - { key: readability-identifier-naming.EnumConstantPrefix,           value: 'c' }
  - { key: readability-identifier-naming.FunctionCase,                 value: camelBack }
  - { key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic, value: 1 } # structs are allowed
  - { key: cert-dcl37-c.AllowedIdentifiers,				  value: __coro_gro;__promise } # coroutines
  - { key: cert-dcl51-cpp.AllowedIdentifiers,				  value: __coro_gro;__promise } # coroutines
  - { key: bugprone-reserved-identifier.AllowedIdentifiers,		  value: __coro_gro;__promise } # coroutines
  
FormatStyle: file

