# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
build/
build-*/
*.exe
*.out
*.app

# Debugger Config
.atom-dbg.cson

# Temporary files/dirs of pipeline
tmp.*/
pipeline/*fastq*.paf
pipeline/ABYSS/
pipeline/report.txt

# Editor temp files
.*.swp

# Vagrant data
.vagrant/
